/* ----------------------------------
General
---------------------------------- */

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

.section-title h3 {
    font-size: 28px;
    color: #4d4643 !important;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #064ab8;
    bottom: 0;
    left: calc(50% - 25px);
}

a:hover {
  text-decoration: none;
}

/* ----------------------------------
Navbar
---------------------------------- */

.nav-menu {
  padding: 20px 150px;
  transition: all 0.7s;
  background: linear-gradient(rgba(6, 51, 123, 0.3), rgba(6, 51, 123, 0.5));
}

.nav-menu a {
  display: block;
  position: relative;
  color: #eee;
  transition: 0.3s;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.dropdown-menu-custom {
  background-color: #06337b;
}

.dropdown-item:hover {
  background-color: #042862;
  color: #eee;
}

.navbar-brand .span {
  font-weight: 600;
  color: #f8d800;
}

.menu-item:hover, .active {
  color: #f8d800;
}

.line1, .line2, .line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s;
}

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.custom-navbar {
  background: #06337b;
  padding: 8px 150px;
}

@media only screen and (max-width: 992px) {
  .nav-menu {
    padding: 20px 45px;
  }

  .custom-navbar {
    padding: 8px 45px;
  }
}

/* ----------------------------------
Hero
---------------------------------- */
#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: relative;
}

#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  bottom: 60px;
  top: 70px;
  left: 55px;
  right: 55px;
}

#hero .carousel-content {
  background: rgba(4, 4, 4, 0.7);
  padding: 20px;
  color: #fff;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  border-top: 5px solid #edcf00;
}

#hero .carousel-content h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
}

#hero .btn-more {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #edcf00;
}

#hero .btn-more:hover {
  background: #f8d800;
  color: #fff;
  text-decoration: none;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
  opacity: 1;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 36px;
  line-height: 1;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 10px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}

#hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: .6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: #edcf00;
}

@media (min-width: 1024px) {
  #hero .carousel-content {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 992px) {
  #hero .carousel-container {
    top: 58px;
  }
  #hero .carousel-content h2 {
    margin-bottom: 15px;
    font-size: 22px;
  }
  #hero .carousel-content p {
    font-size: 15px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/* ----------------------------------
UKM
---------------------------------- */

.container-img {
  position: relative;
  margin: 0 auto;
}

.container-img .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.3);
  color: #eee;
  width: 100%;
  height: 100%;
}

.container-img .content h3 {
  font-weight: bold;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-img .content p {
  font-size: 13px;
  margin-bottom: 0.8rem;
  position: absolute;
  bottom: 0;
  right: 5%;
}

/* ----------------------------------
Post Terbaru
---------------------------------- */
.section-bg {
  background-color: #f7f7f7;
}

.badge-custom {
  background-color: #064ab8;
  color: #eee;
  padding: 5px;
}

a.badge-custom:hover {
  color: #eee;
  background-color: #042862;
}

.judul-post {
  color: #262626;
  font-weight: 600;
}

.judul-post:hover {
  color: #064ab8;
}

.desc-post {
  font-size: 15px;
  color: #5c5c5c;
}

/* ----------------------------------
Footer
---------------------------------- */

.footer {
  background-color: #1e1e1e;
  font-size: 18px;
  color: #c5c5c5;
}

.footer-link {
  color: #8e8e8e;
  font-size: 14px;
}

.footer-link:hover {
  color: #eee;
  text-decoration: none;
  transition: all 0.3s;
}

.fa-angle-right {
  color: #e8da7a;
}

.copyright {
  width: 100%;
  border-top: 1px solid #f8f9fa;
  font-size: 14px;
}

/* ----------------------------------
Login
---------------------------------- */

.form-text {
  color: #5c5c5c;
  font-size: 13px;
}

.form-text h4::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #064ab8;
    top: 65px;
    left: 50px;
}
