/* ----------------------------------
General
---------------------------------- */

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 16px;
}

.btn {
  font-size: 13px;
}

.section-title h3, .section-title h4{
    color: #4d4643 !important;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h3::after, .section-title h4::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #064ab8;
    bottom: 0;
    left: calc(50% - 25px);
}

a:hover {
  text-decoration: none;
}

.section-bg-ukm {
  background-color: #fff;
  width: 80%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .section-bg-ukm {
    width: 90%;
  }
}

/* ----------------------------------
Navbar
---------------------------------- */

.nav-menu {
  padding: 8px 150px;
  transition: all 0.7s;
  background-color: #06337b;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #eee;
  transition: 0.3s;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.dropdown-menu-custom {
  background-color: #06337b;
}

.dropdown-item:hover {
  background-color: #042862;
  color: #eee;
}

.navbar-brand .span {
  font-weight: 600;
  color: #f8d800;
}

.menu-item:hover, .active {
  color: #f8d800;
}

.line1, .line2, .line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s;
}

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.custom-navbar {
  background: #06337b;
  padding: 8px 150px;
}

@media only screen and (max-width: 992px) {
  .nav-menu {
    padding: 8px 45px;
  }

  .custom-navbar {
    padding: 8px 45px;
  }
}

/* ----------------------------------
Hero Halaman Utama
---------------------------------- */
#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: relative;
}

#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  bottom: 60px;
  top: 70px;
  left: 55px;
  right: 55px;
}

#hero .carousel-content {
  background: rgba(4, 4, 4, 0.7);
  padding: 20px;
  color: #fff;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  border-top: 5px solid #edcf00;
}

#hero .carousel-content h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
}

#hero .btn-more {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #edcf00;
}

#hero .btn-more:hover {
  background: #f8d800;
  color: #fff;
  text-decoration: none;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
  opacity: 1;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 36px;
  line-height: 1;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 10px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}

#hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: .6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: #edcf00;
}

@media (min-width: 1024px) {
  #hero .carousel-content {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 992px) {
  #hero .carousel-container {
    top: 58px;
  }
  #hero .carousel-content h2 {
    margin-bottom: 15px;
    font-size: 22px;
  }
  #hero .carousel-content p {
    font-size: 15px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/* ----------------------------------
Hero Halaman UKM
---------------------------------- */
#heroUkm {
  width: 80%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: relative;
  margin: auto;
}

@media (max-width: 768px) {
  #heroUkm {
    width: 100%;
    height: 100vh;
  }
}

#heroUkm .carousel, #heroUkm .carousel-inner, #heroUkm .carousel-item, #heroUkm .carousel-item::before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#heroUkm .carousel-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  bottom: 60px;
  top: 70px;
  left: 55px;
  right: 55px;
}

#heroUkm .carousel-content {
  background: rgba(4, 4, 4, 0.7);
  padding: 20px;
  color: #fff;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  border-top: 5px solid #edcf00;
}

#heroUkm .carousel-content h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
}

#heroUkm .btn-more {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #edcf00;
}

#heroUkm .btn-more:hover {
  background: #f8d800;
  color: #fff;
  text-decoration: none;
}

#heroUkm .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#heroUkm .carousel-inner .carousel-item,
#heroUkm .carousel-inner .active.carousel-item-left,
#heroUkm .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#heroUkm .carousel-inner .active,
#heroUkm .carousel-inner .carousel-item-next.carousel-item-left,
#heroUkm .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#heroUkm .carousel-inner .carousel-item-next,
#heroUkm .carousel-inner .carousel-item-prev,
#heroUkm .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#heroUkm .carousel-control-prev, #heroUkm .carousel-control-next {
  width: 10%;
  opacity: 1;
}

#heroUkm .carousel-control-next-icon, #heroUkm .carousel-control-prev-icon {
  background: none;
  font-size: 36px;
  line-height: 1;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 10px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}

#heroUkm .carousel-control-next-icon:hover, #heroUkm .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

#heroUkm .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: .6;
  transition: 0.3s;
}

#heroUkm .carousel-indicators li.active {
  opacity: 1;
  background: #edcf00;
}

@media (min-width: 1024px) {
  #heroUkm .carousel-content {
    width: 60%;
  }
  #heroUkm .carousel-control-prev, #heroUkm .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 992px) {
  #heroUkm .carousel-container {
    top: 58px;
  }
  #heroUkm .carousel-content h2 {
    margin-bottom: 15px;
    font-size: 22px;
  }
  #heroUkm .carousel-content p {
    font-size: 15px;
  }
}

@media (max-height: 500px) {
  #heroUkm {
    height: 120vh;
  }
}

/* ----------------------------------
UKM Home Section
---------------------------------- */

#profileUkm {
  margin-bottom: 50px !important;
}

.container-profile {
  width: 80%;
  background-color: #fff;
  margin: auto;
  border-radius: 20px;
  box-shadow: 1px 1px 15px 3px #e0e0e0;
}

@media (max-width: 768px) {
  .container-profile {
    width: 95%;
  }
}

.ukm-profile-img {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  margin: 30px 0 20px 30px;
}

.ukm-profile-img img {
  width: auto;
  height: 100%;
}

.ukm-profile-text {
  font-size: 14px;
  color: #4d4643;
}

.section-title .section-title-ukm-home::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #064ab8;
    bottom: 0;
    left: 0;
}

/* ----------------------------------
UKM Section
---------------------------------- */

@media only screen and (max-width: 992px) {
  .padding-sidebar {
    padding-left: 0 !important;
  }
}

.sidebar-container {
  width: 100%;
  background-color: #fff;
  margin: auto;
  color: #4d4643;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
  padding: 35px;
}

.sidebar-part .categories ul {
  list-style: none;
  padding-left: 0;
}

.categories ul li {
  margin-top: 8px;
}

.categories ul li a {
  color: #4d4643;
}

.categories ul li a:hover {
  color: #06337b;
}

.livetv {
  width: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.livetv iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.social-media-ukm a {
  font-size: 14px;
  display: inline-block;
  background: rgb(140, 140, 140);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 10px;
  text-align: center !important;
  width: 45px;
  height: 45px;
  transition: 0.3s;
}

.social-media-ukm a:hover {
  background: #064ab8;
  color: #fff;
  text-decoration: none;
}

/* ----------------------------------
UKM Section
---------------------------------- */

.container-img {
  position: relative;
  margin: 0 auto;
}

.container-img .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.3);
  color: #eee;
  width: 100%;
  height: 100%;
}

.container-img .content h3 {
  font-weight: bold;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-img .content p {
  font-size: 13px;
  margin-bottom: 0.8rem;
  position: absolute;
  bottom: 0;
  right: 5%;
}

.ukm-image-rectangle {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/* ----------------------------------
Post Terbaru
---------------------------------- */
.section-bg {
  background-color: #f7f7f7;
}

.badge-custom {
  background-color: #064ab8;
  color: #eee;
  padding: 5px;
}

a.badge-custom:hover {
  color: #eee;
  background-color: #042862;
}

.judul-post {
  color: #262626;
  font-weight: 600;
}

.judul-post:hover {
  color: #064ab8;
}

.desc-post {
  color: #5c5c5c;
}

/* ----------------------------------
Post
---------------------------------- */
.post-container {
  width: 100%;
  background-color: #fff;
  margin: auto;
  color: #4d4643;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
  padding: 25px;
}

.post-image-rectangle {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 992px) {
  .padding-post {
    padding-right: 0;
  }
}

.author-date-post ul {
  padding-left: 0;
}

.author-date-post ul li {
  display: inline;
  color: #939393;
  font-size: 14px;
}

/* ----------------------------------
Footer
---------------------------------- */

.footer {
  background-color: #1e1e1e;
  color: #c5c5c5;
}

.footer-link {
  color: #8e8e8e;
}

.footer-link:hover {
  color: #eee;
  text-decoration: none;
  transition: all 0.3s;
}

.fa-angle-right {
  color: #e8da7a;
}

.copyright {
  width: 100%;
  border-top: 1px solid #f8f9fa;
}

/* ----------------------------------
Login
---------------------------------- */

.form-text {
  color: #5c5c5c;
  font-size: 13px;
}

.form-text h4::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #064ab8;
    top: 65px;
    left: 50px;
}

/* ----------------------------------
Breadcrumb
---------------------------------- */

#breadcrumb {
  width: 80%;
  margin: auto;
  margin-top: 100px !important;
  margin-bottom: 20px !important;
}

@media only screen and (max-width: 768px) {
  #breadcrumb {
    width: 90%;
  }
}

#breadcrumb .breadcrumb {
  background-color: #fff;
  padding-left: 0;
}
